data/
*.tsv
*.zip
*.tar
*.gz
behaviors.tsv
news.tsv
*.pt
*.pth
*.ckpt
*.h5
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
.vscode/
.idea/
.env
.env.*
processed_data
saved_models
others
